In [2]:
#!pip install xlrd

In [3]:
import pandas as pd
import xlrd

In [4]:
import os
os.getcwd()

'C:\\Users\\charl\\Documents\\Ironhack\\Week2\\Day1'

In [5]:
df = pd.read_excel("GSAF5.xls")
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7050 non-null   object
 1   Year            7048 non-null   float64
 2   Type            7032 non-null   object
 3   Country         7000 non-null   object
 4   State           6564 non-null   object
 5   Location        6483 non-null   object
 6   Activity        6465 non-null   object
 7   Name            6831 non-null   object
 8   Sex             6471 non-null   object
 9   Age             4056 non-null   object
 10  Injury          7015 non-null   object
 11  Fatal Y/N       6489 non-null   object
 12  Time            3524 non-null   object
 13  Species         3919 non-null   object
 14  Source          7030 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [7]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.describe()

              Year  original order
count  7048.000000     6799.000000
mean   1935.722900     3401.152081
std     271.083776     1963.076319
min       0.000000        2.000000
25%    1948.000000     1701.500000
50%    1986.000000     3401.000000
75%    2010.000000     5100.500000
max    2026.000000     6802.000000

In [9]:
new_df = df.drop(['pdf', 'href formula', 'href', 'Unnamed: 21', 'Unnamed: 22'], axis = 1)
new_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Case Number,Case Number.1,original order
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,Severe hand injury,N,Not stated,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,Serious abdonminal injuries,N,1823 hrs,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,Lacerations to calf,N,1330hrs,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,Leg and foot injury,N,0100hrs,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,Head face and arms,N,Not stated,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0

In [10]:
new_df['Species '].value_counts(dropna=False)

Species
NaN                                                                                                                                                                                        3131
White shark                                                                                                                                                                                 194
Shark involvement prior to death was not confirmed                                                                                                                                          105
Invalid                                                                                                                                                                                     102
Shark involvement not confirmed                                                                                                                                                              92
                                                                                                                                                                                           ...
Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident       1
Unknown, but it was reported that a shark tooth was recovered from the wound                                                                                                                  1
On 8/13/2005 anglers from New Zealand caught a 2.8 m [9'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha                               1
1.8 m [6'] bull shark                                                                                                                                                                         1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable                                                                 1
Name: count, Length: 1730, dtype: int64

In [11]:
#new_df["Species "] = new_df["Species "].dropna()

In [12]:
# Ensure Species is string
species =new_df["Species "].dropna().astype(str)

# Basic cleaning (remove extra spaces)
species = species.str.strip().str.replace(r"\s+", " ", regex=True)

# Keep only entries that look like real shark types:
# Rule: must contain the word 'shark' and be reasonably short
valid_sharks = species[
    (species.str.contains("shark", case=False)) &
    (species.str.len() < 50)   # removes long descriptive sentences
]

new_df["clean species"] = valid_sharks

In [13]:
new_df["clean species"] = new_df["clean species"].fillna("Unknown")

In [14]:
new_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Case Number,Case Number.1,original order,clean species
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,Severe hand injury,N,Not stated,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,Nurse shark
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,Serious abdonminal injuries,N,1823 hrs,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,Tiger or Bull shark
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,Lacerations to calf,N,1330hrs,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,Unknown
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,Leg and foot injury,N,0100hrs,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,unknown 1.2m shark
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,Head face and arms,N,Not stated,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,Tiger shark 4m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0,Unknown
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0,Unknown
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0,Unknown
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0,Unknown
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0,Unknown

In [15]:
new_df["clean species"].value_counts().head(20)

clean species
Unknown                                         3699
White shark                                      195
Shark involvement not confirmed                   93
Tiger shark                                       90
Bull shark                                        73
Shark involvement prior to death unconfirmed      68
6' shark                                          43
4' shark                                          43
1.8 m [6'] shark                                  38
1.5 m [5'] shark                                  33
5' shark                                          29
3' shark                                          29
1.2 m [4'] shark                                  29
Wobbegong shark                                   28
4' to 5' shark                                    27
2 m shark                                         26
Blacktip shark                                    23
Nurse shark                                       22
3 m [10'] shark                                   22
No shark involvement                              21
Name: count, dtype: int64

In [30]:
df.columns = [ col.strip().replace(" ", "_").lower() for col in list(df.columns) ]
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [31]:
new_df["clean species"] # List of valid shark species

valid_sharks = [
    "White shark",
    "Tiger shark",
    "Bull shark",
    "Blacktip shark",
    "Nurse shark",
    "Wobbegong shark"
]

# Ensure Species column is clean (remove spaces and normalize)
df["species"] = df["species"].astype(str).str.strip()

# Categorise species
df["species_grouped"] = df["species"].apply(
    lambda x: x if x in valid_sharks else (x if x == "Unknown" else "Other")
)

# Optional: view counts
print(df["species_grouped"].value_counts())

species_grouped
Other              6611
White shark         195
Tiger shark          90
Bull shark           73
Wobbegong shark      28
Blacktip shark       23
Nurse shark          22
Unknown               8
Name: count, dtype: int64