In [1]:
import pandas as pd
import numpy as np
import xlrd
import re

df = pd.read_excel("GSAF5.xls")
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [ ]:
df.info()

In [ ]:
df.describe(include = 'all')

In [2]:
# droping Unnamed 21 & Unnamed 22 columns

new_df = df.drop(['pdf', 'href formula', 'href', 'Unnamed: 21', 'Unnamed: 22'], axis = 1)
new_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,Case Number,Case Number.1,original order
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,Severe hand injury,N,Not stated,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,Serious abdonminal injuries,N,1823 hrs,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,Lacerations to calf,N,1330hrs,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,Leg and foot injury,N,0100hrs,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,Head face and arms,N,Not stated,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0

In [3]:
new_df.columns = (
    new_df.columns
        .str.strip()              # remove leading/trailing spaces
        .str.replace(" ", "_")  # replace internal spaces with _
)
new_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal_Y/N', 'Time', 'Species',
       'Source', 'Case_Number', 'Case_Number.1', 'original_order'],
      dtype='object')

In [ ]:
# To clean the column "Sex"

def clean_sex_col(x):

    s = str(x).strip().lower()

    if s.startswith("m"):
        return "M"
    if s.startswith("f"):
        return "F"
    else:
        return "others"
    
new_df["Sex"] = new_df["Sex"].apply(clean_sex_col)

In [ ]:
new_df['Sex'].value_counts()

In [ ]:
new_df['Sex'].unique()

In [4]:
new_df['Age'].unique()

array(['14', '50+', '54', '48', '57', '8', '?', '63', '9', '39', '19',
       '7', '85', '69', '18', '66', '21', '40', '37', '16', '20', '12',
       '42', '26', '45', '30', '30+', '56', '40+', '29', 35, 58, 29, 24,
       20, 55, 17, 12, 37, 36, 23, 40, 28, 69, 48, '60+', 57, 45, 61, 27,
       38, 16, 68, 33, 30, 15, 41, 14, 43, 26, 'Middle age', 18, 21, 49,
       25, 46, 19, 65, 64, '13', nan, '11', '46', '32', '10', '64', '62',
       '22', '15', '52', '44', '47', '55', '59', '50', '34', '38', '30s',
       '20/30', '35', '65', '20s', '77', '60', '49', '!2', '24', '73',
       '25', '50s', '58', '67', '17', '6', '41', '53', '68', '43', '51',
       '31', 39, 51, 10, 13, 60, '40s', 62, 'teen', 8, 22, 32, 56, 'Teen',
       42, 50, 'M', 9, 31, 11, 34, '!6', '!!', 47, 7, 71, 59, 53, 54, 75,
       '45 and 15', 73, 52, 70, 4, 63, 44, '28 & 22', '22, 57, 31', '60s',
       "20's", 67, 74, '9 & 60', 'a minor', 6, 3, 82, '40?', 66, 72, '23',
       '36', '71', '70', '18 months', '28', '33', '61', '74', '27', '3',
       '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34',
       '28, 23 & 30', 'Teens', 77, '36 & 26', '8 or 10', 84, '\xa0 ', ' ',
       '30 or 36', '6½', '21 & ?', '33 or 37', 'mid-30s', '23 & 20', 5,
       ' 30', '7      &    31', ' 28', '20?', "60's", '32 & 30',
       '16 to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', 1, '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', '4', 'MAKE LINE GREEN', ' 43', '81',
       '"young"', '7 or 8', 78, '17 & 16', 'F', 'Both 11', '9 or 10',
       'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14', '10 or 12',
       '31 or 33', '2½', '1', '13 or 14'], dtype=object)

In [11]:

# Convert everything to string for cleaning
new_df["Age"] = new_df["Age"].astype(str).str.lower().str.strip()

# Replace common text ages with approximate numeric values
age_replacements = {
    "teen": 15,
    "teenager": 15,
    "adult": 30,
    "young adult": 25,
    "mid-age": 40,
    "middle aged": 45,
    "middle-aged": 45,
    "mid 30s": 35,
    "30s": 35,
    "40s": 45,
    "50s": 55,
    "60s": 65,
    "elderly": 70,
    "senior": 70
}


new_df["Age"] = new_df["Age"].replace(age_replacements)

# Handle "unknown", "nan", empty strings, and invalid symbols
new_df["Age"] = new_df["Age"].replace(["unknown", "?", "nan", "", "none"], "unknown")

# Convert ranges like "20-30" → take the midpoint (25)
new_df["Age"] = new_df["Age"].apply(
    lambda x: (int(x.split("-")[0]) + int(x.split("-")[1])) / 2 
    if isinstance(x, str) and "-" in x and x.replace("-", "").isdigit()
    else x
)

new_df["Age"] = new_df["Age"].apply(
    lambda x: int(x.replace("s", "")) + 5 
    if isinstance(x, str) and x.endswith("s") and x[:-1].isdigit()
    else x
)

new_df["Age"] = pd.to_numeric(new_df["Age"], errors="coerce")

# Optional: remove unrealistic ages
new_df.loc[(new_df["Age"] < 0) | (new_df["Age"] > 100), "Age"] = np.nan

print(new_df["Age"].describe())

count    3963.000000
mean       28.219783
std        14.692778
min         1.000000
25%        17.000000
50%        24.000000
75%        37.000000
max        87.000000
Name: Age, dtype: float64

In [12]:
new_df['Age'].value_counts(dropna=False)

Age
NaN     3087
17.0     174
15.0     172
18.0     160
20.0     156
        ...
72.0       1
84.0       1
86.0       1
87.0       1
81.0       1
Name: count, Length: 83, dtype: int64

In [13]:
new_df['Age'].unique()

array([14., nan, 54., 48., 57.,  8., 63.,  9., 39., 19.,  7., 85., 69.,
       18., 66., 21., 40., 37., 16., 20., 12., 42., 26., 45., 30., 56.,
       29., 35., 58., 24., 55., 17., 36., 23., 28., 61., 27., 38., 68.,
       33., 15., 41., 43., 49., 25., 46., 65., 64., 13., 11., 32., 10.,
       62., 22., 52., 44., 47., 59., 50., 34., 77., 60., 73., 67.,  6.,
       53., 51., 31., 71., 75., 70.,  4., 74.,  3., 82., 72.,  5., 86.,
       84., 87.,  1., 81., 78.])

In [27]:
new_df['Name'].unique()

array(['Male Child', 'Samuel Nai', 'Lee Berryman', ..., 'Mr Masury',
       'Ahmun', 'Jules Patterson'], dtype=object)

In [30]:
import re

# Step 1: Convert to string, lowercase, remove leading/trailing spaces
new_df["Name"] = new_df["Name"].astype(str).str.lower().str.strip()

# Step 2: Replace known invalid names with NaN
invalid_terms = [
    "nan", "unknown", "no name", "n/a", "none", "unidentified", "?", "",
    "male", "female", "boy", "girl", "man", "woman", "child", "person"
]
new_df["Name"] = new_df["Name"].replace(invalid_terms, "Unknown")

# Step 3: Remove text in parentheses (e.g. “(surname unknown)”)
new_df["Name"] = new_df["Name"].apply(lambda x: re.sub(r"\(.*?\)", "", x) if isinstance(x, str) else x)

# Step 4: Remove punctuation
new_df["Name"] = new_df["Name"].str.replace(r"[^a-zA-Z\s']", "", regex=True)

# Step 5: Remove multiple spaces
new_df["Name"] = new_df["Name"].str.replace(r"\s+", " ", regex=True).str.strip()

# Step 6: Remove names that are still too short or meaningless
new_df.loc[new_df["Name"].apply(lambda x: len(x) < 3 if isinstance(x, str) else False), "Name"] = np.nan

# Step 7: Capitalize name properly (title case)
new_df["Name"] = new_df["Name"].str.title()

# Step 8: Optional — keep only the first name if more text remains
# Example: "John Smith Jr" → "John Smith"
new_df["Name"] = new_df["Name"].apply(lambda x: " ".join(x.split()[:2]) if isinstance(x, str) else x)

In [31]:
new_df['Name'].value_counts(dropna=False)

Name
Unknown           1147
Males               34
Boat Occupants      26
' Boat              18
Male A              17
                  ...
Fijians              1
Youthful Male        1
Mr Masury            1
Ahmun                1
Rachel Smith         1
Name: count, Length: 5422, dtype: int64